:root {
  --bg:white,
  --textColor:black,
  --softBg: #f0f0f0,
  --softTextColor: #626262,
  --borderRadius: 5px;
}

.light {
  --bg:white;
  --textColor:black; 
  --softBg: #f0f0f0;
  --softTextColor: #626262;

}

.dark{
  --bg:#0f172a;
  --textColor:#ddd; 
  --softBg: #1f273a;
  --softTextColor: #a6a6a6;
}

html,
body {
  width: 100vw;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg);
}

a,
p,
button {
  text-decoration: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

