/*
  pc width >= 1280px 
  태블릿 768px <= width < 1280px 
  모바일 360px <= width < 768px
*/

:root {
  --pc: 1280px;
  --tablet-min: 768px;
  --tablet-max: 1280px;
  --mobile-min: 360px;
  --mobile-max: 768px;

  --bg-color: white;
}

html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg-color);
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
}

@media screen and (360px <= width < 768px) {
  :root {
    --bg-color: black;
  }
}
