.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.line {
  height: 3px;
  background-color: slateblue;
}

.container > span {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--textColor);
  font-weight: bold;
  font-size: 20px;
}

@media screen and (360px <= width < 768px) {
  .container > span {
    font-size: 1rem;
  }
}
