.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  height: 100%;
  background-color: rgb(176, 193, 194);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
}

.container > label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container > button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container > label > span {
  font-weight: bold;
  width: 200px;
}

.container > label > input {
  border: none;
  width: 500px;
  padding: 10px;
  border-radius: 5px;
}

.container > label > input:disabled {
  background: white;
}

.container > label > textarea {
  border: none;
  padding: 10px;
  resize: vertical;
  width: 500px;
  padding: 10px;
  box-sizing: border-box;
  max-height: 300px;
  min-height: 50px;
  border-radius: 5px;
}

.container > label > textarea:disabled {
  background: white;
}
