ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  cursor: pointer;
  padding: 0.5em;
  margin: 0.5em;
  background-color: #e06b6b;
  border-radius: 0.5em;
  color: white;
  &:hover {
    background-color: #e7a7a7;
    color: black;
  }
}
