.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  background-color: steelblue;
  color: white;
  cursor: pointer;
}

.container:hover {
  background-color: slategrey;
}

.container .todoNumber {
}

.container .todo {
}

.container > button {
  cursor: pointer;
}
