.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  background-color: steelblue;
  color: white;
}

.container .todoNumber {
}

.container .todo {
}

.container > button {
}
